{% extends 'bio/base.html'   %} 

{% load static %}

<!--content block-->
{% block content %}


<div class="container-fluid">

    
    <div class="row justify-content-center">
        {% for a in art %}
            <div class="col-md-4 col-sm-1 text-center mb-5">
                <a href="{% url 'info' a.pk %}" style="text-decoration: none;">
                    <div class="d-flex flex-row align-items-center btn btn-outline-light">
                        <img src="{{ a.img.url }}" height="300" width="350" class="mr-3">
                        <div class="text-left">
                            <h4 class="mt-3" style="color: white;"><i>{{ a.name }}</i></h4>
                        </div>
                    </div>
                </a>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                <div class="row justify-content-center"></div> <!-- Start a new row after every 3 items -->
            {% endif %}
        {% endfor %}
    </div>
</div>

<!--endblock content-->
{% endblock content %}