{% extends 'bio/base.html'   %} 

{% load static %}

<!--content block-->
{% block content %}


<div class = "container-fluid">
    <div class = "row">
    {% for a in art %}
        <div class = "piccover col">
            <a href = "{% url 'info' a.pk %}">
                <div>
                    <div class="pic uk-card uk-card-default uk-card-body">
                        <img src="{{ a.img.url }}" height="300in" width="300in">
                    </div>
                    <div class="overlay">
                        <h4>{{ a.name }}</h4>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>

<!--endblock content-->
{% endblock content %}