{% extends 'bio/base.html'   %} 

{% load static %}
{% csrf_token %}
<!--content block-->
{% block content %}


<div class="d-flex justify-content-center my-5">
    <div class="phone-frame position-relative">
      <img src="{% static 'images/smartphone.png' %}" alt="Phone" class="position-absolute top-0 start-0 w-100 h-100" />

      <div id="carouselExampleIndicators" class="carousel slide game-screen position-absolute">
        <div class="carousel-indicators" style="bottom: -85px; left: 15%; right: 15%; position: absolute;">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>

        <div class="carousel-inner h-100">
          <div class="carousel-item active h-100">
            <iframe
                class="d-block w-100 h-100"
                src="https://gamebagged4000-production.up.railway.app/"
                allowfullscreen
                style="border: none;">
            </iframe>
            <div class="carousel-caption d-none d-md-block">
                <h5>GameBagged Demo</h5>
                <pre style="text-align: left;">
U:DemoAdmin
U:DemoShopper  P:Gamebagged
U:DemoCustomer
                </pre>
            </div>
          </div>
          <div class="carousel-item h-100">
            <iframe
              class="d-block w-100 h-100"
              src="https://cyan-plausible-runner.glitch.me/Untitled-1.html"
              title="cyan-plausible-runner on Glitch"
              allow="geolocation; microphone; camera; midi; encrypted-media; xr-spatial-tracking; fullscreen"
              allowfullscreen
              style="border: none;">
            </iframe>
            <div class="carousel-caption d-none d-md-block">
                <h5>WREB Website 2019</h5>
            </div>
          </div>
          <!--<div class="carousel-item h-100">
            <img src="..." class="d-block w-100 h-100" alt="...">
          </div>-->
        </div>
      </div>

    </div>
</div>
<!--endblock content-->
{% endblock content %}