{% load static %}



<footer>
    <hr style="color: white;">
    <div class="row" style="color: white;">
            <div class="col">
                <h3>&copy; 2023 James Peterson IV, Inc</h3>
            </div>
            <div class="col text-center">
                <h3><a style="color: white;" href="mailto:petersonivjames@gmail.com"> petersonivjames@gmail.com</a></h3>
            </div>
            <div class="col text-end">
                <h3>
                    <a style="color: white;" href="https://www.linkedin.com/in/james-peterson-iv-8a0816197/"><i class="bi bi-linkedin"></i></a>
                    <a style="color: white;" href="https://github.com/JamesPetersonIV"><i class="bi bi-github"></i></a>
                </h3>
            </div>
    </div>
    <img src="{% static 'images/tumblr_p1vigutIl51w3y4ilo1_500.gif' %}" class="d-block w-100" alt="..." height="500px">
</footer>