{% load static %}

<div>
    <img src="{% static 'images/art-water.gif' %}" class="d-block w-100" alt="..." height="500px">

    <!-- Image and text -->
    <nav class="navbar navbar-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img class="shadow" src="{% static 'images/MyLogo2.png' %}" width="70" height="70" class="d-inline-block align-top" alt="">
        </a>
            <button class="navbar-toggler"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" style="border-color: white;">
              <span class="navbar-toggler-icon"></span>
            </button>
   
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" >
              <div class="offcanvas-header shadow" style="background-color: black;">
                <h2 class="offcanvas-title" id="offcanvasDarkNavbarLabel">James Peterson IV</h2>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body shadow" style="background-color: black;">
                <ul  class="navbar-nav justify-content-end flex-grow-1 pe-3" style="font-size:30px;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                      <button type="button" class="btn btn-outline-light">
                        <i class="bi bi-house-fill"></i> Home
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'artpf' %}"> 
                      <button type="button" class="btn btn-outline-light">
                        <i class="bi bi-palette-fill"></i> Art Portfolio
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'tdcpf' %}"> 
                      <button type="button" class="btn btn-outline-light">
                        <i class="bi bi-badge-3d-fill"></i> 3D Modeling Portfolio
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'library' %}">
                      <button type="button" class="btn btn-outline-light">
                        <i class="bi bi-book-fill"></i> Library
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'videos' %}"> 
                      <button type="button" class="btn btn-outline-light">  
                        <i class="bi bi-display"></i> Video Uploads
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'about' %}"> 
                      <button type="button" class="btn btn-outline-light">
                        <i class="bi bi-person-fill"></i> About Me
                      </button>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" style="color: white; right: 5%; text-decoration: none;" href="http://jamespeterson.inteletravel.com/">
                      <button type="button" class="btn btn-outline-light">
                       <img style="color: white; left: 2%;" src="{% static 'images/InteleTravel.png' %}" width="50" height="50"> Book! w/ Jay Can Plan Your Day
                      </button> 
                    </a>
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </nav>
    <hr style="color: white;">
</div>