{% extends 'bio/base.html'   %} 

{% load static %}


<!--content block-->
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="container my-5">
            <h2 class="mb-4" style="color: white;">NOVELS</h2>
            <div class="scroll-container p-3">
                {% for n in novels %}
                        <div class="card p-3 shadow-sm" style="background-color: black;">
                            <h5 class="card-title">{{n.title}}</h5>
                            <p class="card-text">{{n.summary}}</p>
                            <img class="mb-4" src="{{ n.img.url }}" height="350" width="350">
                            <a href="{% url 'read' n.pk %}" class="btn">Open</a>
                        </div>
                {% endfor %}
            </div> <!-- close scroll-container -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="container my-5">
            <h2 class="mb-4" style="color: white;">COMIC BOOKS</h2>
            <div class="scroll-container p-3">
                {% for c in comics %}
                        <div class="card p-3 shadow-sm" style="background-color: black;">
                            <h5 class="card-title">{{c.title}}</h5>
                            <p class="card-text">{{c.summary}}</p>
                            <img class="mb-4" src="{{ c.img.url }}" height="350" width="350">
                            <a href="{% url 'read' c.pk %}" class="btn">Open</a>
                        </div>
                {% endfor %}
            </div> <!-- close scroll-container -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="container my-5">
            <h2 class="mb-4" style="color: white;">MAGAZINES</h2>
            <div class="scroll-container p-3">
                {% for m in magazines %}
                        <div class="card p-3 shadow-sm" style="background-color: black;">
                            <h5 class="card-title">{{m.title}}</h5>
                            <p class="card-text">{{m.summary}}</p>
                            <img class="mb-4" src="{{ m.img.url }}" height="350" width="350">
                            <a href="{% url 'read' m.pk %}" class="btn">Open</a>
                        </div>
                {% endfor %}
            </div> <!-- close scroll-container -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="container my-5">
            <h2 class="mb-4" style="color: white;">Flyers</h2>
            <div class="scroll-container p-3">
                {% for f in flyers %}
                        <div class="card p-3 shadow-sm" style="background-color: black;">
                            <h5 class="card-title">{{f.title}}</h5>
                            <p class="card-text">{{f.summary}}</p>
                            <img class="mb-4" src="{{ f.img.url }}" height="350" width="350">
                            <a href="{% url 'read' f.pk %}" class="btn">Open</a>
                        </div>
                {% endfor %}
            </div> <!-- close scroll-container -->
        </div>
    </div>
</div>

<!--endblock content-->
{% endblock content %}