{% extends 'bio/base.html'   %} 

{% load static %}

<!--content block-->
{% block content %}
<div>
    <a href="{% url 'library' %}"><button type="button" class="btn btn-outline-light"><h3><i class="bi bi-arrow-left"></i></h3></button></a>
</div>
<div class="container">
    <div class = "row">
            <h1 style="color: white;">{{ lit.title }}</h1>
            <embed src="{{lit.pdf.url}}" 
                width="100000" 
                height="1600"> 
    </div>
</div>

<!--endblock content-->
{% endblock content %}