{% extends 'bio/base.html'   %} 

{% load embed_video_tags %}

{% load static %}

<!--content block-->
{% block content %}

<div class="d-flex justify-content-center">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
                <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                <div class="carousel-item active">
                        <iframe width="1060" height="1015" src="https://www.youtube.com/embed/videoseries?list=PLiD4rZ-j4-tUr0xRo4cF9EIJsCv4tlsId" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="carousel-caption d-none d-md-block">
                <h5>Entire Collection</h5>
                <p>Collection of all my recorded projects</p>
                </div>
                </div>
                <div class="carousel-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=fr3CUIdiycORV_Ug&amp;list=PLiD4rZ-j4-tXAhTsnCkEEPXKMSQOTTpTo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="carousel-caption d-none d-md-block">
                <h5>Model Collection</h5>
                <p>Collection of modeling videos</p>
                </div>
                </div>
                <div class="carousel-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=9I4ZBTyz9wH5X7mS&amp;list=PLiD4rZ-j4-tWz5o2e9ROEvNncXXWm68kr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="carousel-caption d-none d-md-block">
                <h5>Game Features Collection</h5>
                <p>Collection of features built for games</p>
                </div>
                </div>
                <div class="carousel-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=ORLnJwMpHG8Ln_aW&amp;list=PLiD4rZ-j4-tWSBNRcNhPpcq2jiQDgwEFZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <div class="carousel-caption d-none d-md-block">
                <h5>Animation Collection</h5>
                <p>Collection of animation projects</p>
                </div>
                </div>
                <div class="carousel-item">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?si=DAiU1Ad-5MBqUx2l&amp;list=PLiD4rZ-j4-tVGM854rCiR8pOuyQVmfSef" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="carousel-caption d-none d-md-block">
                <h5>GameBagged Web App</h5>
                <p>Demo Playlist</p>
                </div>
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
        </div>
</div>
<!--endblock content-->
{% endblock content %}